<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <script id="tableTemplate" type="text/x-handlebars-template">
        {{#each shoes}}
            <tr>
                <td>{{color}}</td>
                <td>{{size}}</td>
                <td>{{brand}}</td>
                <td>{{price}}</td>
            </tr>
        {{/each}}
    </script>

    <!-- <h2>CHOOSE EACH CATAGORY</h2> -->
    <script id="dropTemp" type="text/x-handlebars-template">
        <select id="colorDropDown">
            <option selected="false" disabled="disabled">select color</option>
              {{#each colors}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>

        <select id="sizeDropDown">
              <option selected="true" disabled="disabled">select Size</option>
              {{#each sizes}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>

        <select id="brandDropDown">
              <option selected="true" disabled="disabled">select Brand</option>
              {{#each brands}}
              <option value="{{this}}" >{{this}}</option>
              {{/each}}
            </select>

    </script>
    <div id="dropDownOutput" name="dropDownOutput">

    </div> <br>
    <form class="form-inline">
        <center>
            <div class="container">
                <h2>Shoe catalogue API</h2>

            </div>
            <div class="">
                <label for="color">Color:</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="new_color" placeholder="type in the color">
            </div>
            <br>
            <div class="">
                <label for="brand">Brand:</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="new_brand" placeholder="type in the brand">
            </div>
            <br>
            <div class="">
                <label for="size">Size:</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="new_size" placeholder="type in the shoe size">
            </div>
            <br>
            <div class="">
                <label for="price">Price:</label>
                <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="new_price" placeholder="type in the shoe price">
            </div>
            <br>
            <div class="">
                <label for="stock">Stock</label>
                <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="new_stock" placeholder="type in the stock in">
            </div>
            <br>
            <button type="submit" id="addBtn">Add new Stock</button>
        </center>
    </form>
</body>

</html>
